body {
  margin: 0;
  padding: 0;
}
#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* if select as class - z index do not help. Review info on style priority */
#menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(139, 139, 139, 0.2);
  width: 150px;
  height: auto;
  padding: 10px;
}

.btn {
  width: auto;
  margin: 2px;
}
.menu--container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.input__query {
  grid-column-start: span 2;
  margin: 2px;
  width: 140px;
}
